{{ define "main" }}
  <div class="container mt-5">
    <h1 class="mb-4">{{ .Title }}</h1>
    <div class="row">
      {{ range .Pages }}
        <div class="col-md-4">
          <div class="card mb-4">
            {{ with .Params.image }}
              <img src="{{ . }}" class="card-img-top" alt="{{ $.Title }}">
            {{ end }}
            <div class="card-body">
              <h5 class="card-title">{{ .Title }}</h5>
              <p class="card-text">{{ .Params.description }}</p>
              <a href="{{ .RelPermalink }}" class="btn btn-primary">Lihat Detail</a>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
